                           /***** BASE STYLES *****/
body {
	max-width: 1200px;
	margin: 0 auto;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
}

h1,
h3,
h4 {
	color: black;
	text-transform: uppercase;
}

h1 {
	font-size: 30px;
	text-align: left;
	width: auto;
	float: left;
	padding: 15px 0;
}

h3 {
	font-size: 18px;
	text-align: center;
	padding: 15px;
}

h4 {
	font-size: 12px;
}

                         /***** GRID *****/

.top-section,
.bottom-section, {
width: 1200px;
margin: 0 auto;
        }


        .section-one,
        .section-two,
        .section-three {
        	width: 33%;
        	height: auto;
        	float: left;
        	border-top: 1px solid #eee;
        }

        .section-one,
        .section-two {
        	border-right: 1px solid #eee;
        }

        .section-one h4 {
        	padding: 10px 0px;
        }

        .section-two h4,
        .section-three h4 {
        	padding: 10px 30px;
        }



                           /***** HEADER *****/

header {
  width: 1200px;
	height: 110px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}


header span {
	color: #77a466;
}

header nav {
	float: right;
	padding: 45px 0px;
}

header nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	padding: 0 10px;
	color:#77a466;
}

                               /***** ABOUT *****/

  .main-image {
  	width: 1200px;
  	height: auto;
  	float: left;
  }

  .main-image img {
  	width: 1200px;
  	border-bottom: 3px solid #77a466;
  }

  .about-title {
  	width: 1200px;
  	height: auto;
  	float: left;
  }

  .about-title h3 {
  	text-align: left;
  	padding: 5px 0px;
  	text-transform: uppercase;
  	color: #77a466;
  }

      p {
  	padding: 0px 0px ;
  	line-height: 21px;
  	font-size: 14px;
  }


  /******** MENU ************/

  .section-one h4 {
	padding: 10px 0px;
}

.menu {
	list-style: none;
	padding: 0px;
}

.menu li {
	padding: 10px 0;
	color:#77a466;
}

/****** REVIEWS *******/
.reviews {
	color: #333;
	line-height: 21px;
	font-size: 16px;
}

/******* CONTACT ******/

.address {
	font-size: 16px;
	line-height: 24px;
}

/******* FOOTER **********/

footer {
	width: 1200px;
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}

footer span {
	font-family: "Wisdom Script", script;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}
